In [3]:
import matplotlib.pyplot as plt
import csv
import pandas as pd
import numpy as np

In [4]:

manga_df = pd.read_csv(r"C:\Users\Jordan\Desktop\MAL-manga.csv", index_col='Unnamed: 0')
anime_df = pd.read_csv(r"C:\Users\Jordan\Desktop\anime_copy.csv", index_col= 'Unnamed: 0')

manga_df.head()
anime_df.head()

,Title,Rank,Type,Episodes,Aired,Members,page_url,image_url,Score
0,Net-juu no Susume,1568,TV,10,Oct 2017 - Dec 2017,450968,https://myanimelist.net/anime/36038/Net-juu_no...,https://cdn.myanimelist.net/r/100x140/images/a...,7.55
1,Neon Genesis Evangelion: The End of Evangelion,99,Movie,1,Jul 1997 - Jul 1997,883576,https://myanimelist.net/anime/32/Neon_Genesis_...,https://cdn.myanimelist.net/r/100x140/images/a...,8.55
2,Templex,11445,Movie,1,2015 - 2015,538,https://myanimelist.net/anime/40721/Templex,https://cdn.myanimelist.net/r/100x140/images/a...,5.29
3,s.CRY.ed,2248,TV,26,Jul 2001 - Dec 2001,81283,https://myanimelist.net/anime/168/sCRYed,https://cdn.myanimelist.net/r/100x140/images/a...,7.36
4,Toaru Majutsu no Index-tan III,6679,Special,2,Dec 2018 - Apr 2019,11370,https://myanimelist.net/anime/39094/Toaru_Maju...,https://cdn.myanimelist.net/r/100x140/images/a...,6.44

In [5]:
cleaned_manga = manga_df.drop(columns=["page_url", "image_url"])
cleaned_manga.head()

,Title,Rank,Type,Volumes,Published,Members,Score
0,City Hunter,460,Manga,35,Feb 1985 - Nov 1991,14690,8.16
1,Keijo!!!!!!!!,4532,Manga,18,Jul 2013 - Apr 2017,12689,7.31
2,Rain,1808,Manga,?,Nov 2008 -,12021,7.67
3,Hidari no Futari,17377,One-shot,?,2011 - 2011,1010,5.95
4,Odd Girl Out,953,Manhwa,?,May 2015 -,4968,7.90

In [7]:
cleaned_anime = anime_df.drop(columns=["page_url", "image_url"])
cleaned_anime.head()

,Title,Rank,Type,Episodes,Aired,Members,Score
0,Net-juu no Susume,1568,TV,10,Oct 2017 - Dec 2017,450968,7.55
1,Neon Genesis Evangelion: The End of Evangelion,99,Movie,1,Jul 1997 - Jul 1997,883576,8.55
2,Templex,11445,Movie,1,2015 - 2015,538,5.29
3,s.CRY.ed,2248,TV,26,Jul 2001 - Dec 2001,81283,7.36
4,Toaru Majutsu no Index-tan III,6679,Special,2,Dec 2018 - Apr 2019,11370,6.44

In [9]:
cleaned_manga[cleaned_manga["Volumes"]== '?']

,Title,Rank,Type,Volumes,Published,Members,Score
2,Rain,1808,Manga,?,Nov 2008 -,12021,7.67
3,Hidari no Futari,17377,One-shot,?,2011 - 2011,1010,5.95
4,Odd Girl Out,953,Manhwa,?,May 2015 -,4968,7.90
7,Ruru Chouchou,13402,One-shot,?,Dec 2012 - Dec 2012,457,6.64
11,Kiratto!☆Yell,16913,One-shot,?,2012 - 2012,319,6.17
...,...,...,...,...,...,...,...
17793,Kimi wa Houkago Insomnia,109,Manga,?,May 2019 -,36829,8.55
17803,Super Lovers,717,Manga,?,Oct 2009 -,22933,8.01
17805,Yoru no Kouen,17791,One-shot,?,Jun 1982 - Jun 1982,197,5.31
17806,Akuyaku Reijou desu ga Kouryaku Taishou no You...,10635,Manga,?,Dec 2020 -,1142,6.85
17809,Arakure Ojousama wa Monmon Shiteiru,7569,Manga,?,Nov 2018 -,11257,7.07

In [11]:
cleaned_manga["Volumes"] = cleaned_manga['Volumes'].replace(['?'], "Unknown")
cleaned_manga

,Title,Rank,Type,Volumes,Published,Members,Score
0,City Hunter,460,Manga,35,Feb 1985 - Nov 1991,14690,8.16
1,Keijo!!!!!!!!,4532,Manga,18,Jul 2013 - Apr 2017,12689,7.31
2,Rain,1808,Manga,Unknown,Nov 2008 -,12021,7.67
3,Hidari no Futari,17377,One-shot,Unknown,2011 - 2011,1010,5.95
4,Odd Girl Out,953,Manhwa,Unknown,May 2015 -,4968,7.90
...,...,...,...,...,...,...,...
17806,Akuyaku Reijou desu ga Kouryaku Taishou no You...,10635,Manga,Unknown,Dec 2020 -,1142,6.85
17807,Hakuji,5720,Manga,2,May 2008 - Apr 2010,6103,7.21
17808,Maouritsu Chuu-Boss Yousei Academia,15889,Manga,3,Sep 2017 - Mar 2019,696,6.38
17809,Arakure Ojousama wa Monmon Shiteiru,7569,Manga,Unknown,Nov 2018 -,11257,7.07
17810,Tensei Ouji wa Daraketai,12899,Manga,3,Jan 2018 - Mar 2020,6203,6.68